header {
    background-color: #6c173d;
    padding: 20px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     background-color: #f2c2c2;
}
.n{

    text-decoration: none;
    color: rgb(75, 141, 233);
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}