
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fascinate+Inline&family=Merienda:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fascinate+Inline&family=Merienda:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fascinate+Inline&family=Merienda:wght@300..900&family=Pompiere&display=swap');

h1{
    color: rgb(13, 62, 32);
    font-size: 50px;
    font-family: 'Fascinate Inline', system-ui;
    font-weight: 100 ;
    text-align: center;

}
body{
    background-color: #7bb57ee7

}
.imagenu{
   width: 45%;
    
}
.container{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.contenido{
    width: 45%;
    
}
h2{
    color: rgb(56, 98, 11);
    text-align: center;
    font-family:merienda, system-ui;
}
.ima{

    width: 100%;

}
.texto{
    text-align: justify;
    font-size: 25px;
    color: rgb(20, 7, 15);
    font-family: 'Pompiere', system-ui;
}

.mi-enlace{
    text-decoration: none;
    color: rgb(29, 16, 85);
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.texto1{
    text-align: justify;
    font-size: 20px;
    color: rgb(20, 7, 15);
    font-family: 'Pompiere', system-ui;
}
